.env
node_modules
__pycache__
.ruff_cache

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel

dist
terraform.tfstate
terraform.tfstate.backup
.terraform/providers/registry.terraform.io/hashicorp/aws/5.72.0/darwin_arm64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/aws/5.72.0/darwin_arm64/terraform-provider-aws_v5.72.0_x5
docker/db/data/#ib_16384_0.dblwr
docker/db/data/#ib_16384_1.dblwr
docker/db/data/auto.cnf
docker/db/data/binlog.000013
docker/db/data/binlog.000014
docker/db/data/binlog.000015
docker/db/data/binlog.000016
docker/db/data/binlog.000017
docker/db/data/binlog.000018
docker/db/data/binlog.000019
docker/db/data/binlog.000020
docker/db/data/binlog.000021
docker/db/data/binlog.000022
docker/db/data/binlog.000023
docker/db/data/binlog.000024
docker/db/data/binlog.000025
docker/db/data/binlog.000026
docker/db/data/binlog.000027
docker/db/data/binlog.000028
docker/db/data/binlog.000029
docker/db/data/binlog.000030
docker/db/data/binlog.000031
docker/db/data/binlog.000032
docker/db/data/binlog.000033
docker/db/data/binlog.000034
docker/db/data/binlog.000035
docker/db/data/binlog.000036
docker/db/data/binlog.000037
docker/db/data/binlog.000038
docker/db/data/binlog.000039
docker/db/data/binlog.000040
docker/db/data/binlog.000041
docker/db/data/binlog.000042
docker/db/data/binlog.000043
docker/db/data/binlog.000044
docker/db/data/binlog.000045
docker/db/data/binlog.000046
docker/db/data/binlog.000047
docker/db/data/binlog.000048
docker/db/data/binlog.000049
docker/db/data/binlog.000050
docker/db/data/binlog.index
docker/db/data/ib_buffer_pool
docker/db/data/ibdata1
docker/db/data/mysql.ibd
docker/db/data/mysql.sock
docker/db/data/undo_001
docker/db/data/undo_002
docker/db/data/#innodb_redo/#ib_redo10
docker/db/data/#innodb_redo/#ib_redo11_tmp
docker/db/data/#innodb_redo/#ib_redo12_tmp
docker/db/data/#innodb_redo/#ib_redo13_tmp
docker/db/data/#innodb_redo/#ib_redo14_tmp
docker/db/data/#innodb_redo/#ib_redo15_tmp
docker/db/data/#innodb_redo/#ib_redo16_tmp
docker/db/data/#innodb_redo/#ib_redo17_tmp
docker/db/data/#innodb_redo/#ib_redo18_tmp
docker/db/data/#innodb_redo/#ib_redo19_tmp
docker/db/data/#innodb_redo/#ib_redo20_tmp
docker/db/data/#innodb_redo/#ib_redo21_tmp
docker/db/data/#innodb_redo/#ib_redo22_tmp
docker/db/data/#innodb_redo/#ib_redo23_tmp
docker/db/data/#innodb_redo/#ib_redo24_tmp
docker/db/data/#innodb_redo/#ib_redo25_tmp
docker/db/data/#innodb_redo/#ib_redo26_tmp
docker/db/data/#innodb_redo/#ib_redo27_tmp
docker/db/data/#innodb_redo/#ib_redo28_tmp
docker/db/data/#innodb_redo/#ib_redo29_tmp
docker/db/data/#innodb_redo/#ib_redo30_tmp
docker/db/data/#innodb_redo/#ib_redo31_tmp
docker/db/data/#innodb_redo/#ib_redo32_tmp
docker/db/data/#innodb_redo/#ib_redo33_tmp
docker/db/data/#innodb_redo/#ib_redo34_tmp
docker/db/data/#innodb_redo/#ib_redo35_tmp
docker/db/data/#innodb_redo/#ib_redo36_tmp
docker/db/data/#innodb_redo/#ib_redo37_tmp
docker/db/data/#innodb_redo/#ib_redo38_tmp
docker/db/data/#innodb_redo/#ib_redo39_tmp
docker/db/data/#innodb_redo/#ib_redo40_tmp
docker/db/data/#innodb_redo/#ib_redo41_tmp
docker/db/data/my_db/users.ibd
docker/db/data/mysql/general_log_213.sdi
docker/db/data/mysql/general_log.CSM
docker/db/data/mysql/general_log.CSV
docker/db/data/mysql/slow_log_214.sdi
docker/db/data/mysql/slow_log.CSM
docker/db/data/mysql/slow_log.CSV
docker/db/data/performance_schema/accounts_145.sdi
docker/db/data/performance_schema/binary_log_trans_189.sdi
docker/db/data/performance_schema/cond_instances_82.sdi
docker/db/data/performance_schema/data_lock_waits_161.sdi
docker/db/data/performance_schema/data_locks_160.sdi
docker/db/data/performance_schema/error_log_83.sdi
docker/db/data/performance_schema/events_errors_su_139.sdi
docker/db/data/performance_schema/events_errors_su_140.sdi
docker/db/data/performance_schema/events_errors_su_141.sdi
docker/db/data/performance_schema/events_errors_su_142.sdi
docker/db/data/performance_schema/events_errors_su_143.sdi
docker/db/data/performance_schema/events_stages_cu_111.sdi
docker/db/data/performance_schema/events_stages_hi_112.sdi
docker/db/data/performance_schema/events_stages_hi_113.sdi
docker/db/data/performance_schema/events_stages_su_114.sdi
docker/db/data/performance_schema/events_stages_su_115.sdi
docker/db/data/performance_schema/events_stages_su_116.sdi
docker/db/data/performance_schema/events_stages_su_117.sdi
docker/db/data/performance_schema/events_stages_su_118.sdi
docker/db/data/performance_schema/events_statement_119.sdi
docker/db/data/performance_schema/events_statement_120.sdi
docker/db/data/performance_schema/events_statement_121.sdi
docker/db/data/performance_schema/events_statement_122.sdi
docker/db/data/performance_schema/events_statement_123.sdi
docker/db/data/performance_schema/events_statement_124.sdi
docker/db/data/performance_schema/events_statement_125.sdi
docker/db/data/performance_schema/events_statement_126.sdi
docker/db/data/performance_schema/events_statement_127.sdi
docker/db/data/performance_schema/events_statement_128.sdi
docker/db/data/performance_schema/events_statement_129.sdi
docker/db/data/performance_schema/events_statement_130.sdi
docker/db/data/performance_schema/events_transacti_131.sdi
docker/db/data/performance_schema/events_transacti_132.sdi
docker/db/data/performance_schema/events_transacti_133.sdi
docker/db/data/performance_schema/events_transacti_134.sdi
docker/db/data/performance_schema/events_transacti_135.sdi
docker/db/data/performance_schema/events_transacti_136.sdi
docker/db/data/performance_schema/events_transacti_137.sdi
docker/db/data/performance_schema/events_transacti_138.sdi
docker/db/data/performance_schema/events_waits_cur_84.sdi
docker/db/data/performance_schema/events_waits_his_85.sdi
docker/db/data/performance_schema/events_waits_his_86.sdi
docker/db/data/performance_schema/events_waits_sum_87.sdi
docker/db/data/performance_schema/events_waits_sum_88.sdi
docker/db/data/performance_schema/events_waits_sum_89.sdi
docker/db/data/performance_schema/events_waits_sum_90.sdi
docker/db/data/performance_schema/events_waits_sum_91.sdi
docker/db/data/performance_schema/events_waits_sum_92.sdi
docker/db/data/performance_schema/file_instances_93.sdi
docker/db/data/performance_schema/file_summary_by__94.sdi
docker/db/data/performance_schema/file_summary_by__95.sdi
docker/db/data/performance_schema/global_status_181.sdi
docker/db/data/performance_schema/global_variables_184.sdi
docker/db/data/performance_schema/host_cache_96.sdi
docker/db/data/performance_schema/hosts_146.sdi
docker/db/data/performance_schema/keyring_componen_191.sdi
docker/db/data/performance_schema/keyring_keys_152.sdi
docker/db/data/performance_schema/log_status_174.sdi
docker/db/data/performance_schema/memory_summary_b_154.sdi
docker/db/data/performance_schema/memory_summary_b_155.sdi
docker/db/data/performance_schema/memory_summary_b_156.sdi
docker/db/data/performance_schema/memory_summary_b_157.sdi
docker/db/data/performance_schema/memory_summary_g_153.sdi
docker/db/data/performance_schema/metadata_locks_159.sdi
docker/db/data/performance_schema/mutex_instances_97.sdi
docker/db/data/performance_schema/objects_summary__98.sdi
docker/db/data/performance_schema/performance_time_99.sdi
docker/db/data/performance_schema/persisted_variab_187.sdi
docker/db/data/performance_schema/prepared_stateme_175.sdi
docker/db/data/performance_schema/processlist_100.sdi
docker/db/data/performance_schema/replication_appl_165.sdi
docker/db/data/performance_schema/replication_appl_166.sdi
docker/db/data/performance_schema/replication_appl_167.sdi
docker/db/data/performance_schema/replication_appl_168.sdi
docker/db/data/performance_schema/replication_appl_170.sdi
docker/db/data/performance_schema/replication_appl_171.sdi
docker/db/data/performance_schema/replication_asyn_172.sdi
docker/db/data/performance_schema/replication_asyn_173.sdi
docker/db/data/performance_schema/replication_conn_162.sdi
docker/db/data/performance_schema/replication_conn_164.sdi
docker/db/data/performance_schema/replication_grou_163.sdi
docker/db/data/performance_schema/replication_grou_169.sdi
docker/db/data/performance_schema/rwlock_instances_101.sdi
docker/db/data/performance_schema/session_account__151.sdi
docker/db/data/performance_schema/session_connect__150.sdi
docker/db/data/performance_schema/session_status_182.sdi
docker/db/data/performance_schema/session_variable_185.sdi
docker/db/data/performance_schema/setup_actors_102.sdi
docker/db/data/performance_schema/setup_consumers_103.sdi
docker/db/data/performance_schema/setup_instrument_104.sdi
docker/db/data/performance_schema/setup_objects_105.sdi
docker/db/data/performance_schema/setup_threads_106.sdi
docker/db/data/performance_schema/socket_instances_147.sdi
docker/db/data/performance_schema/socket_summary_b_148.sdi
docker/db/data/performance_schema/socket_summary_b_149.sdi
docker/db/data/performance_schema/status_by_accoun_177.sdi
docker/db/data/performance_schema/status_by_host_178.sdi
docker/db/data/performance_schema/status_by_thread_179.sdi
docker/db/data/performance_schema/status_by_user_180.sdi
docker/db/data/performance_schema/table_handles_158.sdi
docker/db/data/performance_schema/table_io_waits_s_107.sdi
docker/db/data/performance_schema/table_io_waits_s_108.sdi
docker/db/data/performance_schema/table_lock_waits_109.sdi
docker/db/data/performance_schema/threads_110.sdi
docker/db/data/performance_schema/tls_channel_stat_190.sdi
docker/db/data/performance_schema/user_defined_fun_188.sdi
docker/db/data/performance_schema/user_variables_b_176.sdi
docker/db/data/performance_schema/users_144.sdi
docker/db/data/performance_schema/variables_by_thr_183.sdi
docker/db/data/performance_schema/variables_info_186.sdi
docker/db/data/sys/sys_config.ibd
tmp/build-errors.log
tmp/main
.terraform.lock.hcl
